/* You can add global styles to this file, and also import other style files */
:root {
  --font-family-nunito_sans: "Nunito Sans", Helvetica, sans-serif;
  --primary-blue: #003A5A;
  --primary-green: #D2D929;
  --primary-blue-hsl: hsl(201,100,18);
  --primary-green-hsl: hsl(62,70,51);
  --accent-blue: #00233B;
  --font-color-light: #fbfbfb;
}
